@import url('https://fonts.googleapis.com/css?family=Poppins');

@media (max-width: 576px) {

    #lead h1 {
        color: #FFFFFF;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 36px;
    }

} /* End max width for mobile nav breakpoint */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8;
}
h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: #424242;
}
h1 {
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 56px;
}

#lead {
    box-sizing: border-box;
    padding: 8px;
    background: linear-gradient(225deg, #42A8CD 0%, #26749B 100%);
}

#lead h1 {
   color: #FFFFFF;   
}

#lead p {
    color: #FFFFFF;
}

h2 {
    color: #424242; 
    font-family: Poppins;   
    font-size: 20px;
    line-height: 28px;
}
p {
    font-size: 16px;
    line-height: 24px;
}
p.subtext {
    color: #7D7D7D;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

