<!DOCTYPE html>                                                                  
<html>
<link rel="stylesheet" type="text/css" href="/styleguide/style.css" >
<script src="/styleguide/js/fetchComponents.js"></script>

<script>

components = ['nav-bar'];

fetchComponents(components);

</script>
<body>



<nav-bar>
    <li slot="link"><a href="#">Home</a></li>
    <li slot="link"><a href="#">Pricing</a></li>
    <li slot="link"><a href="#">Blog</a></li>
    <li slot="link"><a href="#" class="cta-link highlight">Sign up</a></li>
</nav-bar>

<p>The mobile friendly nav bar.</p>

<ul>
    <li>Easy for large thumbs</li>
    <li>Whilst walking</li>
    <li>Call to action link highlighted</li>
    <li>Inspired by netlify</li>
</ul>
</body>
</html>
