<!DOCTYPE html>                                                                  
<html>
<link rel="stylesheet" type="text/css" href="/styleguide/style.css" >
<script src="/styleguide/js/fetchComponents.js"></script>

<script>

components = ['nav-bar'];

fetchComponents(components);

</script>
<body>

<p>The mobile friendly nav bar.</p>

<ul>
    <li>Easy for large thumbs</li>
    <li>Whilst walking</li>
    <li>Call to action link highlighted</li>
    <li>Inspired by netlify</li>
</ul>



<nav-bar></nav-bar>

</body>
</html>
