<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" type="text/css" href="style.css" >
<script src="js/fetchComponents.js"></script>

<script>
components = ['usp-card', 'usp-grid'];
fetchComponents(components);
</script>

<body>
<h1>&lt;usp-grid&gt;</h1>
<p>Use as many &lt;usp-grid&gt; as you like. They will always
display in a grid</p>
<usp-grid>
    <usp-card></usp-card>
    <usp-card></usp-card>
    <usp-card></usp-card>
    <usp-card></usp-card>
    <usp-card></usp-card>
    <usp-card></usp-card>
    <usp-card></usp-card>
</usp-grid>
</body>
</html>
